certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
demjson==1.6
django-crispy-forms==1.13.0
Flask==2.0.3
fuzzywuzzy==0.18.0
idna==3.4
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==2.11.3
Levenshtein==0.21.0
MarkupSafe==2.0.1
numpy==1.19.5
pandas==0.25.3
Pillow==8.4.0
pyinrail==1.0.0
pytesseract==0.3.8
python-dateutil==2.8.2
python-Levenshtein==0.21.0
pytz==2023.3
rapidfuzz==2.11.1
requests==2.27.1
six==1.16.0
typing_extensions==4.1.1
urllib3==1.26.15
Werkzeug==2.0.3
wincertstore==0.2
zipp==3.6.0
